<%- include('parts/header') %>
<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<!-- *** Start Conditions *** -->
<div class="container">
    <h5 class="text-center">Welcome</h5>
    <a href="#arabic">عربي </a> | 
    <a href="#english"> English</a>
    <hr>
    <!-- Start in arabic -->
    <h2 id="arabic" class="text-center">شروط الإستخدام</h2>
    <hr>
    <ul style="text-align: start;" dir="auto">
        <li>لا يتم نشر سوى ماهو متعلق بالدراسة</li>
        <li>
            بإمكانك نشر صورة أو ملف فقط عن دروسك ولا لنشر صور خارج هاذا النطاق مثل صور طبيعة أو أخرى
        </li>
        <li>
            بإمكانك نشر ما تريد عن دراستك في ملفات بأي صيغة تشاء, أو أسئلة أو ماشابه على شكل صورة.
        </li>
        <li>
            لا يتم تناول الأمور السياسية, العقائدية, الجنسية, الطائفية.
        </li>
        <li>
            أي تعليقات إهانة أو ما شابه سوف يتم حذف حساب صاحبه فورا.
        </li>
    </ul>
    <hr>
</div>

<!-- *** Footer *** -->
<div class="footer">
    <div>
        <p>Developed and Designed with <i class="fa fa-heart"></i> & <i class="fa fa-coffee"></i>, by Amir Diafi. All Rights are recerved &COPY; 2020. watikah.com</p>
        <ul>
            <li>
                <a href="http://">
                    <i class="fab fa-twitter fa-fw"></i>
                </a>
            </li>
            <li>
                <a href="http://">
                    <i class="fab fa-facebook fa-fw"></i>
                </a>
            </li>
            <li>
                <a href="http://">
                    <i class="fab fa-instagram fa-fw"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
    

