
<%- include('parts/header') %>
<link rel="stylesheet" href="/css/404.css">
</head>
<body>
<%# - include('parts/navbar')%>


<div class="logo text-center">
    <div class="the-logo">
        <div>
            <span class="mouth"></span>
            <span class="left eye">X</span>
            <span  class="right eye">X</span>
        </div>
    </div>
    <p>Watika</p>
    <h2>404 Page not found</h2>
</div>


<%- include('parts/footer')%>
</body>
</html>
