#BlockAdsMsg {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, .7);
    z-index: 9;
    display: none;
}

#BlockAdsMsg .innerCountainer {
    width:70%;
    height: 50%;
    background: #eee;
    border: #28a745;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px
}

#BlockAdsMsg .innerCountainer p {
    text-align: start;
    direction: rtl;
}