/* Start Home Sections */
body{
    padding-left: 0;
}

.container{
    padding-left: 74px;
    position: relative;
}

.home-sections {
    margin: 50px auto;
}

.home-sections .section{
    overflow: hidden;
    height: 150px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.515);
    position: relative;
    margin: 10px auto;
    display:block
}

.section.main{
    height: 100vh;
    position: relative;
    overflow:hidden
}

.section img{
    width:100%;
    height: 100%;
}

.section .ovarlay{
    position: absolute;
    top:0;left:0;
    bottom: 0;right:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.845);
    
}

.section .text{
    width: 65%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-47%, -30%);
    color: #FFF;
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: #002c5cad;
}

.section .text hr {
    margin: 10px auto 20px;
    width:80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255,255, 255, 0));
}

.section .text h4 {
    font-size: 40px;
    margin: 5px auto;
    font-weight: bold;
}

.section .text p {
    line-height: 2em;
    font-weight: bold;
    word-spacing: 2px;
    font-size: 20px
}

.section .text .down{
    text-align: center;
    position: relative;
    bottom:40%;
    left:0;
    width: 100%;
    padding: 20px  0;
}

.text .down i{
    font-size: 40px;
    cursor: pointer;
    color: #eee;
    animation: down 1s infinite ease-in-out
}

@keyframes down {
    0%, 100%{
        opacity: 0;
        transform: scale(0.5);
        transform: translateY(0)
    }

    50%{
        opacity: 1;
        transform: scale(1);
        transform: translateY(20px)
    }
}


/* ****** Start The Search post Result ****** */

.search-post{
    margin: 30px auto;
    width: 70%;
}

.search-post form{
    display: flex;
}

.search-post form input[type='search']{
    border-radius: 50px 0 0 50px;
    height: 50px;
    width: 100%;
    text-align: right;
}

.search-post form input[type='search']:focus{
    background: #ffffff;
    outline: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    border-color: #28a745;
}

.search-active{
    border-radius: 30px 0 0 0 !important
}

.search-icon-active{
    border-radius: 0 30px 0 0  !important
}

/* *** Search bar *** */
.search-post button {
    border-radius: 0 50px 50px 0;
    background-color: #290688;
    border-color: #290688;
}

.search-post button:hover{
    background-color: #489765;
    border-color: #489765;
}

.buttons-filter hr {
    margin: 10px auto 20px;
    width:80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255,255, 255, 0));
}

.buttons-filter ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 20px 0;
    color: #290688;
    padding: 0;
}

.buttons-filter ul li {
    padding: 5px 10px;
    color :#FFF;
    background: #290688;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.515);
    margin: 0 5px;
}


@media(max-width: 575.98px) {

    .section.main{
        height: 100vh
    }

    .search-post{
        width: 100%;
    }

    .section .text {
        top: 30%;
        left: 75%;
        transform: translate(-75%, -30%);
        width: 75%;
    }

    .section .text h4 {
        font-size: 20px;
    }

    .section .text hr {
        margin: 3px auto;
    }

    .section .text p {
        font-size:14px;
    }

    .section .text .down {
        padding: 0;
    }

    .section .text h5 {
        font-size: 15px;
    }
}