/* Start Home Sections */
body{
    padding-left: 0;
}
.container{
    padding-left: 74px;
    position: relative;
}

.the-navbar {
    background-color: #004085ab;
}

.home-sections {
    margin: 50px auto;
}
.home-sections .section{
    overflow: hidden;
    height: 150px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.515);
    position: relative;
    margin: 10px auto;
    display:block
}

.section.main{
    height: 100vh;
    position: relative;
    overflow:hidden
}

.section img{
    width:100%;
    height: 100%;
}

.section .ovarlay{
    position: absolute;
    top:0;left:0;
    bottom: 0;right:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.845);
    
}

.section .text{
    width: 65%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-47%, -30%);
    color: #FFF;
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: #002c5cad;
}

.section .text hr {
    margin: 10px auto 20px;
    width:80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255,255, 255, 0));
}

.section .text h4 {
    font-size: 40px;
    margin: 5px auto;
    font-weight: bold;
}

.section .text p {
    line-height: 2em;
    font-weight: bold;
    word-spacing: 2px;
    font-size: 20px
}

.section .text .down{
    text-align: center;
    position: relative;
    bottom:40%;
    left:0;
    width: 100%;
    padding: 20px  0;
}

.text .down i{
    font-size: 40px;
    cursor: pointer;
    color: #eee;
    animation: down 1s infinite ease-in-out
}

@keyframes down {
    0%, 100%{
        opacity: 0;
        transform: scale(0.5);
        transform: translateY(0)
    }

    50%{
        opacity: 1;
        transform: scale(1);
        transform: translateY(20px)
    }
}


@media(max-width: 575.98px) {

    .section.main{
        height: 100vh
    }

    .section .text {
        top: 50%;
        left: 65%;
        transform: translate(-60%, -50%);
        width: 75%;
    }

    .section .text h4 {
        font-size: 23px;
    }

    .section .text hr {
        margin: 3px auto;
    }

    .section .text p {
        font-size:17px;
    }

    .section .text .down {
        padding: 0;
    }

    .section .text h5 {
        font-size: 15px;
    }
}