.load-screen {
    height: calc(100% + 20px);
    margin-top: -20px;
}

.post{
    width: 50%;
    border-radius: 5px;
    background-color: #eeeeee47;
    margin: 20px auto;
    padding: 65px 10px 10px;
    position: relative;
    color: #062230;
    border: 1px solid #ced4da;
}

.post-cont{
    position: relative;
    height: 100vh;
    display: block;
}
.post.inside-post{
    margin: 20px auto 0
}

.post > i.edit {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer
}

.post ul.edit {
    width: 110px;
    height: 45px;
    padding: 10px;
    background :#FFF;;
    position: absolute;
    border:1px solid #ced4da;
    top:15px;
    right:30px;
    text-align: left;
    border-radius: 5px;
    display: none;
    z-index: 2;
}

.post ul.edit button {
    margin: 2px auto;
    border-radius: 5px;
    font-weight: bold;
    transition: all .2s linear;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    background: none;
    text-align: inherit;
    border: none;
    color: #dc1125;
    z-index: 2;
}

.post a.anchor-pic {
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    text-decoration: none;
}

.post a.anchor-pic .profile-pic{
    width: 30px;
    height:100%;
    border-radius: 100%;
}

.post a.anchor-pic .profile-pic.picchanged {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

.post .username{
    display: inline-block;
    color: #062230
}

.post .timestamp {
    display:block;
    font-size: 10px;
    color: #333;
    margin-top: 10px;
}

.post h4{
    margin: 0;
    text-align: start;
    font-weight: normal;
}

.post p.model {
    font-size: 12px;
    margin-bottom: 5px;
}

.post hr {
    margin: 0 auto;
    width:80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0,0, 0, 0));
}

.post .post-pic {
    width:100%;
    margin:20px auto;
    border-radius: 5px;
}

.post .trim i,
.post .trim .saveme i{
    border: 1px solid #ced4da;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    color: #28a745;
    background:#062230;
    display: inline-block;
}

.post .trim .saveme {
    position: absolute;
    bottom: 5px;
    right:10px
}

.post .trim .saveme .savepost,
.post .trim .saveme .unsavepost{
    width:100%;
    height:100%;
    display: block;
    border: none;
    color: #28a745;
    background:#062230;
}

.post .trim p.desc,
.post .trim div.comments{
    font-size: 17px;
    display:none
}

/* *** Start the comments *** */

.commentor-and-removed-icon {
    position: relative
}

.the-comment{
    display:inline-block;
    width:75%;
    padding: 5px;
    margin: 0;
    padding :5px;
    padding: 5px;
}

.the-comment .fullname {
    font-size: 13px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 6px
}

.the-comment a{
    text-decoration :none;
    color :#555;
    display: inline-block;
}

.the-comment a .img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    float: left;
}

.the-comment a .img img {
    width: 100%;
    height :100%;
    position: absolute;
    top:0;
    left:0
}

.the-comment a .img img.picchanged {
    z-index: 2;
}

.the-comment > span {
    display: block;
    font-size: 14px;
    margin-top: 7px;
    text-align: start;
    background: #062230;
    color: #FFF;
    padding: 10px;
    border-radius: 3px 30px 30px;
}

.file .trim p.desc,
.file .trim div.comments{
    font-size: 17px;
    display:none
}

form.add-comment-form {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px
}

form.add-comment-form input[type='text']{
    width:75%;
    border-radius: 50px 0 0 50px;
    box-shadow: none;
    border: 1px solid #062230;
    text-align: start;
    direction: auto;
    padding-inline-start: 10px;
}

form.add-comment-form input[type='text']:focus{
    border: 1px solid #28a745;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.933);
    outline: 0;
}

form.add-comment-form button.submit {
    border-radius: 5px;
    background-color: #062230;
    border-color: transparent;
    color: #28a745;
    width:25%;
    border-radius: 0 50px 50px 0;
    cursor: not-allowed;
    transition: all .2s linear;
}

form.add-comment-form button.submit i{
    color: inherit;
    padding:0;
    margin: 0;
    font-size: 18px;
    border: none;
    cursor: inherit;
    background-color: inherit;
}


.remove-comment-form{
    width:20%;
    display:inline-block;
    position: relative;
}
.remove-cmnt-edit-icon{
    width:30%;
    display:inline-block;
    background: none !important;
    font-size: 12px !important;
    color: #062230 !important;
    border: none !important;
    position: relative;
    width: 20%;
    right: -35px;
    padding:0 !important;
    z-index: 2;
}

.remove-comment-form button {
    right: 50px;
    z-index: 3;
    position: relative;
    width:70%;
    display: none;
    border-radius: 5px;
    padding:0;    background-color: #6c757d;
    border: 1px solid #495057;
}

.remove-comment-form button i.fa-trash-alt {
    border: none;
    padding-right: 0;
    color: #dc1125;
    background: transparent;
    font-size: 12px;
    padding:0 !important;
}

/* Start File content and trim */

.post .trim .comments {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 10px;
}

.the-comment > span {
    max-height: 300px;
    overflow: auto;
}

.file-content{
    padding: 10px;
    border-radius: 50px;
    margin: 20px auto;
    background: #062230;
    color: #28a745;
    display: flex;
    justify-items: center;
}

.file-content .file-design{
    font-size: 17px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    transition: all .3s linear;
    position: relative;
}

.file-content .file-design img,
.file-content .file-design i {
    position: absolute;
    width:100%;
    height: 100%;
    border-radius: 100%;
    display: block;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
}

.file-content .file-design i {
    font-size: 36px;
    display: block;
    color: #28a745 !important;
    background-color: #062230;
    transition: all .2s linear;
    line-height: 35px;
    text-align: center;
    opacity: 0;
}

.file-content .file-design i:hover {
    opacity: 1;
}

.file-content h3{
    font-size: 13px;
    margin: 0;
    margin-left: 6px;
    line-height: 35px;
}

@media(min-width: 576px) and (max-width: 991.98px) {
    .post{
        width: 70%
    }
    .post h4 {
        font-size: 15px;

    }
}

@media(max-width: 575.98px) {
    .post{
        width: 90%
    }
    .post h4{
        font-size: 15px;
    }
    .remove-comment-form button {
        right: 30px;
    }

    .file-content h3{
        font-size: 10px;
    }

}


