*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.status {
    margin :50px auto
}

.status .search-filter form{
    display: flex;
    width:60%;
    margin: 0 auto 50px;
}

.status .search-filter .titleofmodel{
    background-color: #062230;
    color :#FFF
}

/* Start Select */
.search-filter  form select {
    border-radius: 5px 0 0 5px;
}
.search-filter form select option{
    padding: 10px;
}

.search-filter form button {
    border-radius: 0 5px 5px 0;
    background-color: #290688;
    border-color: #290688;
}


h3.titles{
    text-align: center;
    font-size: 30px;
    color: #333
}

