<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Adsense -->
    <script data-ad-client="ca-pub-8967420236427435" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- First Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IE Compatibility Meta -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="منصة تشاكرية للملفات الأكاديمية">
    <meta name="keywords" content="files, books, images, memoires, exposes, college, university, education, teachers, study, student, ملف، ملفات, طالب، طلاب، جامعة، وثائق، بحوث، أستاذ، أساتذة, كلية، وثيقة، ">
    <meta name="author" content="Amir Diafi">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#004085">
    <!-- Windows Phone -->
    <meta name="ms-application-navbutton-color" content="#004085">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#004085">
    <title>Watikah</title>
    <link href="https://fonts.googleapis.com/css2?family=Almarai&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- [If It IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![End If]-->

    